.raid-main-chart {
  padding-left: 12%;
  padding-right: 12%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: center;
  font-size: 14px; /* 기본 글자 크기에서 1px 줄임 */
}

th {
  background-color: #f2f2f2;
}

.gold-sum {
  background-color: #ffeb99;
}

td button {
  padding: 5px 10px;
  background-color: #42b983;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}


button:hover {
  background-color: #369b71;
}